<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="codebaby_product_attachments" frontName="codebaby_product_attachments">
            <module name="CodeBaby_ProductAttachments"/>
        </route>
    </router>
</config>